logging:
  level:
    com.ac: debug
server:
  port: 8888
  servlet:
    context-path: /demo
spring:
  datasource:
    url: jdbc:oracle:thin:@10.1.80.163:1521:DFE
    username: ac
    password: ac
    driver-class-name: oracle.jdbc.driver.OracleDriver
  thymeleaf:
    cache: false
  resources:
    static-locations: classpath:/templates/


mybatis-plus:
  mapper-locations: classpath:com/ac/mapper/*.xml
  type-aliases-package: com.ac.entity
  global-config:
    banner: true

token:
    id: 1
    password: 2
    interval: 5
    headerClaims:
      alg: HS256
      typ: JWT
    iss: test
    sub: test
    aud: webSwagger

#debug: true

